{% extends "layout.html.twig" %}

{% block title %}SciMS - 404 Not Found{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            404 Page Not Found
        </h1>
    </header>
{% endblock %}

{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">
        <p>404 Page Not Found</p>
    </section>
{% endblock %}