{% extends "layout.html.twig" %}

{% block title %}SciMS - 404 Not Found{% endblock %}
{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">
        <p>404 Page Not Found</p>
    </section>
{% endblock %}