{% extends 'layout.html.twig' %}

{% block title %}SciMS - Inscription{% endblock %}

{% block page_title %}
    <!-- Header of the webpage. -->
    <header class="scims-page-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="scims-page-title">
            Inscription
        </h1>
    </header>
{% endblock %}

{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">
        <form action="" method="post" class="form-horizontal">
            {% for f in forms %}
                <div class="form-group">
                    <label for="{{ f.id }}" class="control-label col-md-2 col-sm-4 col-xs-4">{{ f.label }}</label>
                    <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-4 col-xs-8 col-xs-offset-4">
                        {{ f.render }}
                    </div>
                </div>
            {% endfor %}
            <!-- Button group -->
            <div class="form-group">
                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}