html {
    margin: 10px 10px 10px 25px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

/* Header of page */
header {
    height: 100px;
}

thead {
    font-weight: bold;
}

.scims-vertical-align {
    vertical-align: middle;
}

/* Transform text in italic. */
.scims-italic {
    font-style: italic;
}

/* Brand of SciMS on left navigation */
.scims-brand {
    font-size: 1.4em;
    font-weight: bold;
}

/* Header page block. */
.scims-page-header {
    margin-bottom: 10px;
    border-bottom : 1px solid lightgray;
}

/* Title of the article on webpage. */
.scims-page-title {
    text-align: center;
    font-size: 1.8em;
}

/* Author of the article on Header page. */
.scims-header-page-subtitle {
    display: block;
    margin-top: 5px;
    text-align: center;
}

/* Sub level on Summary */
.scims-sub-level-summary {
    margin-left: 20px;
}

.scims-excerpt-button {
    float: right;
}

.scims-excerpt-button a {
    color: white;
}

.scims-footer-page {
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

.scims-button-text-color {
    color: white;
}

.scims-excerpt-categories-home {
    display: block;
    padding-top :10px;
}

.scims-article-homepage {
    border: solid 1px lightgray;
    height: 300px;
}

/***********************************/
/*       ICONS IN NAVIGATION       */
/***********************************/
/* Home icon */
.scims-brand:before {
    font-family: FontAwesome;
    content: "\f015";
}

/* sign in icon */
.scims-signin:before {
    font-family: FontAwesome;
    content: "\f090";
}

/* sign out icon */
.scims-signout:before {
    font-family: FontAwesome;
    content: "\f08b";
}

/* inscription icon */
.scims-inscription:before {
    font-family: FontAwesome;
    content: "\f234";
}

/* user profil icon */
.scims-account:before {
    font-family: FontAwesome;
    content: "\f007";
}

/* write article icon */
.scims-article:before {
    font-family: FontAwesome;
    content: "\f249";
}

/* category creation icon */
.scims-category:before {
    font-family: FontAwesome;
    content: "\f02e";
}

/* users creation icon */
.scims-user:before {
    font-family: FontAwesome;
    content: "\f0c0";
}

/* Tags on article page icon */
.scims-excerpt-tags:before {
    font-family: FontAwesome;
    content: "\f02c";
}

/* Category on article page icon */
.scims-excerpt-categories:before {
    font-family : FontAwesome;
    content     : "\f02e";
}

.scims-administration:before {
    font-family : FontAwesome;
    content: "\f085";
}
